*.class

# Package Files #
*.jar
*.war
*.ear

# IDEA Files
.idea/
*.iml

# Eclipse Files
.classpath
.project
.settings/

# Cloud9 Files
.settings
.c9revisions/

# Dolphin Directory Files
.directory

# Maven Target Files
target/

# Build Name and Version Files
name.info
version.info

# Image Tools Log Files
*.debug
*.info
*.err
