*.class

# Package Files #
*.jar
*.war
*.ear

# IDEA Files
.idea/
*.iml

# Eclipse Files
.classpath
.project
.settings/

# Dolphin Directory Files
.directory

# Maven Target Files
target/

# Build Name and Version Files
name.info
version.info

# Copied README.md and LICENSE files
src/includes/README.md
src/includes/LICENSE
