<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="EL" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>ImageTools.err</File>
    <encoder>
	  <withJansi>false</withJansi>
      <pattern>[%date{HH:mm:ss}] %-5level [%c{16}] - %message%n</pattern>
	</encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>5</maxIndex>
      <FileNamePattern>ImageTools.err.%i</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>500KB</MaxFileSize>
    </triggeringPolicy>
  </appender>
  <root level="ERROR">
    <appender-ref ref="EL"/>
  </root>
</configuration>